body {
  /* margin: 0 50px; */
}

#output {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#output div {
  border: 2px solid red;
  padding: 25px;
}

h3 {
  margin-bottom: 20px;
}

#msg {
  color: red;
}
